.akar-icons--html-fill {
  display: inline-block;
  width: clamp(3em , 10vw , 5em);
  height: clamp(3em , 10vh , 5em);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cg fill='%23ebcb8b' clip-path='url(%23akarIconsHtmlFill0)'%3E%3Cpath d='M5.08 0h1.082v1.069h.99V0h1.082v3.236H7.152V2.153h-.99v1.083H5.081zm4.576 1.073h-.952V0h2.987v1.073h-.953v2.163H9.656zM12.165 0h1.128l.694 1.137L14.68 0h1.128v3.236h-1.077V1.632l-.744 1.151h-.019l-.745-1.15v1.603h-1.058zm4.181 0h1.083v2.167h1.52v1.07h-2.603z'/%3E%3Cpath fill-rule='evenodd' d='M5.046 22.072L3 4.717h18L18.953 22.07L11.99 24zm4.137-9.5l-.194-2.18h8.145l.19-2.128H6.664l.574 6.437h7.377l-.247 2.76l-2.374.642h-.002l-2.37-.64l-.152-1.697H7.332l.298 3.342l4.36 1.21l4.367-1.21l.532-5.964l.052-.571z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='akarIconsHtmlFill0'%3E%3Cpath fill='%23ebcb8b' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
.akar-icons--css-fill {
  display: inline-block;
  width: clamp(3em , 10vw , 5em);
  height: clamp(3em , 10vh , 5em);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ebcb8b' d='M7.502 0h2.578v1.078h-1.5v1.078h1.5v1.078H7.502zm3.093 0h2.579v.938h-1.5v.187h1.5v2.156h-2.579v-.984h1.5v-.188h-1.5zm3.095 0h2.577v.938h-1.5v.187h1.5v2.156H13.69v-.984h1.5v-.188h-1.5z'/%3E%3Cpath fill='%23ebcb8b' fill-rule='evenodd' d='m11.991 24l-6.944-1.928L3 4.717h18L18.954 22.07zM7.047 12.573l.191 2.128h7.377l-.247 2.76l-2.374.642h-.002l-2.37-.64l-.152-1.697H7.333l.298 3.342l4.36 1.21l4.367-1.21l.532-5.964l.052-.571l.384-4.309H6.664l.194 2.129h8.136l-.194 2.18z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.ri--javascript-line {
  display: inline-block;
  width: clamp(3em , 10vw , 5em);
  height: clamp(3em , 10vh , 5em);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ebcb8b' d='m13.334 16.055l-.858 1.188q1.221 1.089 3.036 1.089q1.386-.033 2.112-.715q.737-.693.737-1.65q0-.935-.517-1.54t-1.738-.968q-1.01-.307-1.43-.561q-.418-.264-.418-.638q0-.34.341-.55q.342-.21.913-.209q.419 0 .946.165q.528.143.935.462l.77-1.199q-1.011-.814-2.684-.814q-1.198 0-1.969.616q-.792.615-.792 1.529q.011.968.638 1.507q.638.54 1.815.88q.98.307 1.331.616a.97.97 0 0 1 .341.748a.75.75 0 0 1-.34.66q-.353.242-1.013.242q-1.077.01-2.156-.858m-5.53.638a2.2 2.2 0 0 1-.616-.583l-1.034.847q.463.78 1.144 1.089q.638.285 1.463.286q.45 0 .935-.143t.891-.484q.715-.572.748-1.87v-5.588H9.85v5.302q0 .76-.34 1.067q-.342.297-.859.297q-.495 0-.847-.22M3 6a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3zm3-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1z'/%3E%3C/svg%3E");
}
.mdi--unity {
  display: inline-block;
  width: clamp(3em , 10vw , 5em);
  height: clamp(3em , 10vh , 5em);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ebcb8b' d='M10.11 17H7.5l-4.91-5L7.5 7h2.61l1.31-2.26L18.21 3l1.87 6.74L18.77 12l1.31 2.26L18.21 21l-6.79-1.74zm.14-.25l5.13 1.38L12.42 13H6.5zm6.87.38L18.5 12l-1.38-5.13L14.15 12zm-6.87-9.88L6.5 11h5.92l2.96-5.13z'/%3E%3C/svg%3E");
}
.cursor{
    z-index: 10;
    position: fixed;
    background-color: #4c566a;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px #64718b;
    transform: translate(-50% , -50%);
    opacity: 0.2;
}

.cursor:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.2;
    transform: translate(-30% , -30%);
    border-radius: 50%;
}

.hover:hover{
    text-shadow: 0 0 30px rgb(178, 178, 179);
    transition: all 0.3s ease-in-out;
}
/* Wave Effect */
section{
    /* opacity: 0.8; */
    position: relative;
    z-index: 1;
}
.introductory-section{
    background-color: #3b4252;
}
.about-section{
    background-color: #2e3440;
}
.experience-section{
    background-color: #3b4252;
}
.contact-section{
    background-color: #2e3440;
}

.custom-shape-divider-top-1748661489 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}
.custom-shape-divider-top-1748661489 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 108px;
}
.custom-shape-divider-top-1748661489 .shape-fill {
    fill: #3b4252;
}

.custom-shape-divider-bottom-1748662574 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}
.custom-shape-divider-bottom-1748662574 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 145px;
    transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1748662574 .shape-fill {
    fill: #3b4252;
}

.custom-shape-divider-bottom-1748691302 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}
.custom-shape-divider-bottom-1748691302 svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: 151px;
}
.custom-shape-divider-bottom-1748691302 .shape-fill {
    fill: #2E3440;
}
/* Wave Close */
*{
    border: none;
    margin: 0;
    padding: 0;
    cursor: none;
}
body{
    padding: 0;
    margin: 0;
    background-color: #2e3440;
    z-index: 1;
}
.splash-screen-container{
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
}
.visible{
    display: flex;
}
.splash-screen.hidden{
    display: none;
}
.splash-screen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.splash-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.splash-img img{
    width: clamp(1em , 20vw , 15em);
    height: clamp(1em , 20vw , 15em);
    border-radius: 50%;
    animation: zoom-out 1s cubic-bezier(1 , 0.01 , 0 , 0.99);
}
@keyframes zoom-out{
    0% {
        transform: scale(0);
        gap: 0;
    }
    100% {
        transform: scale(1);
        gap: min(1em, 5%);
    }
}
.splash-img.addx img{
    gap: min(1em, 5%);
}
.splash-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.splash-text p{
    font-family: Inter;
    color: #8fbcbb;
    font-size: clamp(1rem, 6rem, 7rem);
    text-align: center;
}
.hidden{
    display: none;
}
.splash-text.visible p{
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing2 0.5s steps(9);
}
@keyframes typing2 {
    from{
        opacity: 0;
        width: 0;
    }
    to{
        opacity: 1;
    }
}
.mainbody{
    margin: 0;
    padding: 0;
}
.hide{
    display: none;
}
.mainbody.show{
    display: block;
}
.navbar-mobile{
    display: none;
}
.navbar-container{
    margin: 0;
    padding: 0;
    top: 0;
    position: sticky;
    z-index: 10;
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg, rgba(100, 107, 121, 0.3) , rgba(49, 48, 48, 0.2));
}
.navbar ul{
    display: flex;
    margin: 0;
    padding:min(1.5em, 8%);
    gap: min(1em, 5%);
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.navbar li{
    text-align: center;
    color: #e5e9f0;
}
.navbar a{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: Inter;
    font-size: clamp(1rem, 1rem, 5rem);
    opacity: 0.5;
}
.navbar a:hover{
    opacity: 1;
    color: #d8dee9;
    font-weight: bold;
}
.body-container{
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}
.introductory-container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    height: auto;
}
.introductory{
    display: flex;
    flex-direction: column;
    gap: min(1em, 2em);
    margin: min(5em, 2%) min(20em, 15%);
    padding-top: min(10em, 10%);
    padding-bottom: min(10em, 10%);
    justify-content: center;
    align-items: center;
}
.title-p{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(21);
}
.h1{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(10);
}
@keyframes typing{
    from{
        width: 0;
    }
}
.introductory h1{
    margin: 0;
    padding: 0;
    font-family: Inter;
    color: #eceff4;
    font-size: clamp(1rem, 6rem, 7rem);
    font-weight: bolder;
}
.introductory p{
    margin: 0;
    padding: 0;
    font-family: Roboto Mono;
    font-size: clamp(1rem, 1rem, 3rem);
    color: #eceff4;
}
.about-container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    min-height: 100vh;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: min(7em , 5%) min(10em , 10%);
    padding: 0;
}
.about1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about1 h1{
    font-family: Poppins;
    font-size: clamp(3rem, 1rem, 9rem);
    color: #88c0d0;
}
.about1 ul{
    display: flex;
    gap: min(1em, 5%);
    padding: 0;
}
.about1 li{
    list-style-type: none;
    color: #ebcb8b;
}
.about1 li:hover{
    font-weight: bold;
}
.about1 p{
    margin: 0;
    padding-bottom: 1em;
    font-family: Poppins;
    font-size: clamp(1rem, 1rem, 3rem);
    color: #e5e9f0;
    opacity: 1;
}
.about2{
    display: flex;
    align-items: center;
}
.about2 img{
    width: clamp(1em , 20vw , 15em);
    height: clamp(1em , 20vw , 15em);
    border-radius: 50%;
}
.experience-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    height: auto;
}
.experience{
    display: flex;
    flex-direction: column;
    margin: min(7em , 5%) min(10em , 10%);
    padding: 0;
}
.experience1 {
    display: flex;
}
.experience1 h1{
    font-family: Poppins;
    font-size: clamp(3rem, 1rem, 9rem);
    color: #88c0d0;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1200px, 1fr));
    justify-content: flex-start;
    gap: min(1em, 3em);
}
.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 1em;
    padding: min(3em, 5%);
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg, rgba(92, 101, 119, 0.3) , rgba(17, 17, 17, 0.2));
    background-size: 50px;
}
.card1 p{
    margin: min(10em, 5%);
    padding: 0;
    font-family: Poppins;
    font-size: clamp(1rem, 1rem, 3rem);
    color: #e5e9f0;
    opacity: 1;
}
.card1 a{
    text-decoration: none;
    color: #d8dee9;
    font-weight: bold;
}
.card1 img{
    max-width: 480px;
    width: 100%;
    height: 100%;
    max-height: 270px;
    aspect-ratio: 16/9;
    object-fit: contain;
}
.contact-container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    height: 600px;
}
.contact{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: min(7em , 5%) min(10em , 10%);
    justify-content: center;
}
.contact h1{
    font-family: Poppins;
    font-size: clamp(3rem, 1rem, 9rem);
    color: #88c0d0;
}
.contact p{
    margin: 0;
    padding-bottom: 1em;
    font-family: Poppins;
    font-size: clamp(1rem, 1rem, 3rem);
    color: #e5e9f0;
    opacity: 1;
}
.contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    font-family: Roboto Mono;
    font-weight: bolder;
    color: #e5e9f0;
    background-color: #8fbcbb;
}
.contact a:hover{
    box-shadow: 0.5em 0.5em #5e81ac;
}
.footer-container{
    display: flex;
    margin: 0;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.5;
    z-index: -1;
}
.footer p{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Inter;
    text-align: center;
    color: #e5e9f0;
}
@media (max-width: 1600px){
    .card-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }
}
@media (max-width:1024px){
    .splash-img img{
        width: clamp(1em , 50vw , 20em);
        height: clamp(1em , 50vw , 20em);
        border-radius: 50%;
        animation: zoom-out 1s cubic-bezier(1 , 0.01 , 0 , 0.99);
    }
    .splash-text p{
        font-family: Inter;
        color: #eceff4;
        font-size: clamp(2rem, 4rem, 5rem);
        text-align: center;
    }
    .introductory-container{
        padding-bottom: min(10em, 20%);
        padding-top: min(10em, 20%);
    }
    .about{
        flex-direction: column;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .card1 img{
        display: none;
    }
    .about2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about2 img{
        display: flex;
        width: clamp(1em , 50vw , 20em);
        height: clamp(1em , 50vw , 20em);
        opacity: 1;
    }
    .introductory h1{
        font-size: clamp(2rem, 4rem, 5rem);
    }
    .card1 p{
        font-size: clamp(0.8rem, 1rem, 2rem);
    }
}
@media (max-width: 600px){
    #sidebar-active{
        display: none;
    }

    .navbar-mobile{
        display: flex;
        align-items: center;
        height: 8vh;
    }
    .navbar-mobile img{
        margin: 0;
        padding: min(2em , 3%);
        width: clamp(3em , 8vw , 4em);
        height: auto;
        border-radius: 50%;
    }
    .navbar-mobile label{
        position: fixed;
        right: 2vw;
    }
    .open-sidebar{
        transition: transform 0.3s ease;
        pointer-events: auto;
    }
    .close-sidebar-container{
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 8vh;
        opacity: 0;
        pointer-events: none;
    }
    .close-sidebar{
        position: fixed;
        right: 2vw;
    }
    .links-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background-image: linear-gradient(120deg, rgba(92, 101, 119, 1) , rgba(17, 17, 17, 0.8));
        
        pointer-events: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 8vh;
        z-index: -5;
        transition: 0.3s ease-in-out;
    }
    .links{
        display: flex;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        transition: 0.3s ease-in-out;
        min-height: 92vh;
    }
    .links a{
        box-sizing: border-box;
        font-family: Roboto Mono;
        font-size: clamp(1rem, 1rem, 3rem);
        padding: min(10em , 15%);
        color: rgba(243, 243, 239, 0.911);
    }
    #sidebar-active:checked ~ .open-sidebar{
        transform: rotate(180deg);
        opacity: 0;
        pointer-events: none;
    }
    #sidebar-active:checked ~ .links-container{
        height: 100vh;
        z-index: 10;
        pointer-events: auto;
    }
    #sidebar-active:checked ~ .links-container .links{
        opacity: 1;
        pointer-events: auto;
    }
    #sidebar-active:checked ~ .links-container .close-sidebar-container{
        opacity: 1;
        pointer-events: auto;
    }
    .navbar{
        display: none;
    }
    .about2{
        display: none;
    }
    .splash-img img{
        width: clamp(1em , 50vw , 20em);
        height: clamp(1em , 50vw , 20em);
        border-radius: 50%;
        animation: zoom-out 1s cubic-bezier(1 , 0.01 , 0 , 0.99);
    }
    .splash-text p{
        display: none !important;
    }
    .card1{
        padding: min(1em, 3%);
    }
    .card1 p{
        font-size: clamp(0.8rem, 0.8rem, 0.8rem);
    }
}
